<form  #f="ngForm">
  <div class="form-group">
    <label for="username">UserName</label>
    <input class="form-control" ngModel #username="ngModel" name="username" type="text">
    <button class="btn btn-primary" (click)="getFollowersByUserName(username)">Fetch Followers</button>
  </div>
  <ul class="list-group">
    <li *ngFor="let follower of followers" class="list-group-item">
      <img src="{{follower.avatar_url}}" alt="Smiley face" height="100" width="100">
      {{follower.login}}
    </li>
  </ul>
</form>