<form [formGroup]="form" #f="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input formControlName="name" id="name" type="text" class="form-control">
    <div class="form-group" formGroupName="contact">
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="text" class="form-control">
      <label for="phone">Phone</label>
      <input formControlName="phone" id="phone" type="text" class="form-control">
    </div>
    <label for="topic">Add topic</label>
    <input type="text" class="form-control" (keyup.enter)="addTopic(topic)" #topic id="topic">
    <ul class="list-group">
      <li *ngFor="let topic of topics.controls" (click)="removeTopic(topic)" class="list-group-item">
        {{topic.value}}
      </li>
    </ul>
  </div>
  <p>{{f.value | json }}</p>
</form>